@use 'sass:color';
@use './gadgets';

$avatar-size-small: 60px;
$avatar-size: 90px;

:host {
  display: block;
  background: var(--footer);
}

.footer {
  @include gadgets.mediaWrapper();
  display: flex;
  flex-direction: column;
  padding: 2em 0;
  align-items: center;

  @include gadgets.mediaUp(gadgets.$layout-breakpoint-tablet) {
    flex-direction: row;
  }

  &__section {
    padding: .5em;
  }

  .badget {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    border-radius: 1em;
    padding: .5em 1em;
    color: white;
    opacity: .85;

    &:hover {
      opacity: 1;
      box-shadow: 0 5px 5px color.adjust(gadgets.$color-gray-shadows, $alpha: -.8);
    }

    // text
    span {
      display: inline-block;
      letter-spacing: gadgets.$l-spacing;
      font-variant-caps: all-small-caps;
    }

    // icon
    &:before {
      position: relative;
      margin-right: .5em;
      font-size: 1.2  em;
      color: white;
    }

    &--linkedin {
      background: gadgets.$color-blue-digg;

      &:before {
        @include gadgets.iconFontAwesome('linkedin', 'brands');
      }
    }

    &--git {
      background: gadgets.$color-black;

      &:before {
        @include gadgets.iconFontAwesome('github', 'brands');
      }
    }

    &--lib {
      background: gadgets.$color-pink-sass-hopbush;

      &:before {
        @include gadgets.iconFontAwesome('sass', 'brands');
      }
    }
  }

  &__avatar__img {
    width: $avatar-size-small;
    height: $avatar-size-small;
    border-radius: 50%;
    @include gadgets.mediaUp(gadgets.$layout-breakpoint-tablet) {
      width: $avatar-size;
      height: $avatar-size;
    }
  }
}
