@use 'sass:color';
@use './gadgets';

.header {
  margin: 1em;
  padding: 4em 1em 0;
  @include gadgets.mediaUp(gadgets.$layout-breakpoint-tablet){
    padding-top: 2em;
  }

  &__title, &__subtitle {
    @include gadgets.fontSize(medium);
    letter-spacing: gadgets.$l-spacing;
    font-weight: normal;
  }

  &__title, &__subtitle {
    color: var(--text);
  }

  &__title {
    text-transform: lowercase;
  }

  &__subtitle {
    font-variant: all-small-caps;
  }

  @include gadgets.mediaUp(gadgets.$layout-breakpoint-mobile) {
    display: flex;
    align-items: center;

    .header__subtitle:before {
      margin: 0 .5em;
      content: "—";
    }
  }
}
