@use 'sass:color';
@use 'sass:map';
@use 'sass:string';

@use 'sass/gadgets' with (
  $entities: 'html, body, div, main, button, h1, h2, span, p, em, pre, abbs, ul, li',
  $icons-initialize-fa-sets: 'solid, brands'
);

@include gadgets.resetDOM();
@include gadgets.initializeFontAwesome('./assets/fonts');

$avatar-size-small: 60px;
$avatar-size: 90px;

$theme-light-background: gadgets.$color-white;
$theme-light-text: gadgets.$color-black-coal;
$theme-light-headings: gadgets.$color-gray-shadows;
$theme-light-link: color.adjust(gadgets.$color-green-techcrunch, $alpha: -0.5);
$theme-light-link-hover: gadgets.$color-green-techcrunch;
$theme-light-footer: gadgets.$color-gray-sass-iron;

$theme-dark-background: gadgets.$color-black-coal;
$theme-dark-text: gadgets.$color-white-shinny;
$theme-dark-headings: gadgets.$color-white;
$theme-dark-link: color.scale(gadgets.$color-green-mint, $lightness: 30%);
$theme-dark-link-hover: gadgets.$color-green-mint;
$theme-dark-footer: color.scale($theme-dark-background, $lightness: 10%);


body:not(.dark-theme) {
  --theme: 'light';
  --background: #{$theme-light-background};
  --text: #{$theme-light-text};
  --headings: #{$theme-light-headings};
  --link: #{$theme-light-link};
  --link-hover: #{$theme-light-link-hover};
  --footer: #{$theme-light-footer};
}

body.dark-theme {
  --theme: 'dark';
  --background: #{$theme-dark-background};
  --text: #{$theme-dark-text};
  --headings: #{$theme-dark-headings};
  --link: #{$theme-dark-link};
  --link-hover: #{$theme-dark-link-hover};
  --footer: #{$theme-dark-footer};
}

body:not(.double-space) {
  --line-height: 1.5;
}

body.double-space {
  --line-height: 3;
}

readability-nav {
  position: absolute;
  z-index: 1;
  right: 2em;
  top: 0;
  color: $theme-light-text;
}

body {
  &:not(.font-plain) .main, .header {
    @include gadgets.fontStack(georgia);
  }

  &.font-plain .main {
    @include gadgets.fontStack(arial);
  }

  &.font-small .main {
    font-size: 80%;
  }

  &.font-large .main {
    font-size: 120%;
  }

  background: var(--background);
  transition: background-color ease-in 200ms;
}


// common elements

.heading {
  @include gadgets.fontSize(large, gadgets.$font-unit);
  font-weight: normal;
  color: var(--headings);
}

.text-content {
  margin-bottom: 2em;

  p:not(.quote), li {
    @include gadgets.fontSize(normal, gadgets.$font-unit);
    margin-bottom: 1em;
    letter-spacing: gadgets.$l-spacing;
    line-height: var(--line-height);
    color: var(--text);

    body.double-space & {
      line-height: 3;
    }
  }

  p.quote {
    @include gadgets.fontSize(large, gadgets.$font-unit);
    max-width: 70%;
    margin: 2em;
    padding-left: 1em;
    line-height: var(--line-height);
    color: var(--headings);
    border-left: 2px solid;
  }

  li {
    list-style: square;
  }

  a {
    color: var(--text);
    text-decoration: none;
    border-bottom: 2px solid var(--link);

    &:hover {
      border-color: var(--link-hover);
    }
  }
}


.header {
  margin: 1em;
  padding: 4em 1em 0;
  @include gadgets.mediaUp(gadgets.$layout-breakpoint-tablet) {
    padding-top: 2em;
  }

  &__title, &__subtitle {
    @include gadgets.fontSize(medium);
    letter-spacing: gadgets.$l-spacing;
    font-weight: normal;
  }

  &__title, &__subtitle {
    color: var(--text);
  }

  &__title {
    text-transform: lowercase;
  }

  &__subtitle {
    font-variant: all-small-caps;
  }

  @include gadgets.mediaUp(gadgets.$layout-breakpoint-mobile) {
    display: flex;
    align-items: center;

    .header__subtitle:before {
      margin: 0 .5em;
      content: "—";
    }
  }
}


.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  background: var(--footer);

  @include gadgets.mediaUp(gadgets.$layout-breakpoint-tablet) {
    flex-direction: row;
  }

  &__section {
    padding: .5em;
  }

  .badget {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    border-radius: 1em;
    padding: .5em 1em;
    color: white;
    opacity: .85;

    &:hover {
      opacity: 1;
      box-shadow: 0 5px 5px color.adjust(gadgets.$color-gray-shadows, $alpha: -.8);
    }

    // text
    span {
      display: inline-block;
      letter-spacing: gadgets.$l-spacing;
      font-variant-caps: all-small-caps;
    }

    // icon
    &:before {
      position: relative;
      margin-right: .5em;
      font-size: 1.2em;
      color: white;
    }

    &--linkedin {
      background: gadgets.$color-blue-digg;

      &:before {
        @include gadgets.iconFontAwesome('linkedin', 'brands');
      }
    }

    &--git {
      background: gadgets.$color-black;

      &:before {
        @include gadgets.iconFontAwesome('github', 'brands');
      }
    }

    &--lib {
      background: gadgets.$color-pink-sass-hopbush;

      &:before {
        @include gadgets.iconFontAwesome('sass', 'brands');
      }
    }
  }

  &__avatar__img {
    width: $avatar-size-small;
    height: $avatar-size-small;
    border-radius: 50%;
    @include gadgets.mediaUp(gadgets.$layout-breakpoint-tablet) {
      width: $avatar-size;
      height: $avatar-size;
    }
  }
}


.main__pic {
  display: flex;
  justify-content: flex-end;

  img {
    height: auto;
    width: 100%;

    @include gadgets.mediaUp(600) {
      height: 100%;
      width: auto;
      max-height: 500px;
    }
  }

  body.dark-theme & {
    display: none;
  }
}


// Layout - Grid
$areas: intro, doing, love, expect, pic;

.main {
  display: grid;
  grid-template-columns: 1fr 8fr 8fr 1fr;
  grid-gap: 1em;
  grid-template-areas:
    "i i p p"
    ". d d ."
    ". l l ."
    ". e e .";

  @include gadgets.mediaUp(600) {
    grid-template-columns: 1fr 5fr 5fr 1fr;
    grid-template-areas:
    "i i p p"
    ". d d ."
    ". l e .";
  }

  @include gadgets.mediaUp(800) {
    grid-gap: 2em;
    grid-template-areas:
    "i i p p"
    ". d p p"
    ". d l ."
    ". e e .";
  }

  @include gadgets.mediaUp(1100) {
    grid-gap: 4em;
    grid-template-columns: 1fr 4fr 4fr 4fr 4fr 1fr;
    grid-template-areas:
    ". . . i p p"
    ". d d i p p"
    ". l l e e .";
  }

  @include gadgets.mediaUp(2048) {
    grid-gap: 4em;
    grid-template-columns: 1fr 4fr 4fr 4fr 4fr 1fr;
    grid-template-areas:
    ". . . . i p"
    ". d d l i p"
    ". e e e e p";
  }
}

// Layout - Narrow
body.narrow-width .main {
  display: block;

  .main-region {
    margin: 0 auto;
    max-width: 450px;
    padding: 0 3em;
  }
}

@each $area in $areas {
  .main__#{$area} {
    grid-area: string.slice($area, 0, 1);
  }
}
